# Compiler artifacts
out/

# Dependencies
lib/

# Node modules
node_modules/

# Coverage
coverage/

# Cache
cache/

# Environment variables
.env

# OSX
.DS_Store
docs/paper-downloader/venv/
.claude/
library.db
